$icomoon-font-family: "icon-easy-link" !default;
$icomoon-font-path: "fonts" !default;

$el-link-icon-changes-saved-path1: "\e900";
$el-link-icon-changes-saved-path2: "\e901";
$el-link-icon-chevron-down: "\e902";
$el-link-icon-codepen: "\e903";
$el-link-icon-codewars: "\e904";
$el-link-icon-devto-path1: "\e905";
$el-link-icon-devto-path2: "\e906";
$el-link-icon-devto-path3: "\e907";
$el-link-icon-drag-and-drop: "\e908";
$el-link-icon-email: "\e909";
$el-link-icon-facebook: "\e90a";
$el-link-icon-frontend-mentor: "\e90b";
$el-link-icon-github: "\e90c";
$el-link-icon-gitlab: "\e90d";
$el-link-icon-link-copied-to-clipboard: "\e90e";
$el-link-icon-links-header: "\e90f";
$el-link-icon-password: "\e910";
$el-link-icon-profile-details-header: "\e911";
$el-link-icon-stack-overflow: "\e912";
$el-link-icon-twitch: "\e913";
$el-link-icon-twitter: "\e914";
$el-link-icon-upload-image: "\e915";
$el-link-icon-youtube: "\e916";
$el-link-icon-arrow-right: "\e917";
$el-link-icon-freecodecamp: "\e918";
$el-link-icon-hashnode: "\e919";
$el-link-icon-link: "\e91a";
$el-link-icon-linkedin: "\e91b";
$el-link-icon-preview-header: "\e91c";
