<section class="el-create-link">
  <div class="el-create-link__phone"><h1>phone</h1></div>

  <div class="el-create-link__customize">
    <div class="el-create-link__main-links">
      <div class="el-create-link__customize-content">
        <h2 class="el-create-link__customize-content-heading">Customize your Links</h2>

        <label class="el-create-link__customize-content-info">Add/edit/remove links below and then share all your
          profiles
          with the world!</label>

        <button class="el-button-sec el-create-link__customize-new-link">+ Add new link</button>
      </div>

      <div class="el-create-link__create-links">
        <figure>
          <img src="assets/images/illustration-empty.svg" alt="create-link-empty">
        </figure>
      </div>
    </div>

    <div class="el-create-link__create-links-footer">
      <button class="el-button-sec el-create-link__create-links-footer__button">Save</button>
    </div>
  </div>
</section>
