.el-create-link {
  display: flex;
  gap: 2.4rem;

  &__phone,
  &__customize {
    background: var(--white);
    border-radius: 1.2rem;
  }

  &__phone {
    width: 30%;
    padding: 2.4rem;
  }

  &__main-links {
    padding: 4rem;
  }

  &__customize {
    width: 70%;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      &-heading {
        font-size: 3.2rem;
        font-weight: 700;
      }

      &-info {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-color-grey);
      }
    }

    &-new-link {
      width: 100%;
      margin-bottom: 2.4rem;
    }
  }

  &__create-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-link {
      &__header {
        display: flex;
        justify-content: space-between;

        label {
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }

        span {
          font-size: 0.7rem;
        }
      }

      &__body {
        &-link-container {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          label {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--text-color-black);
          }
        }
      }

      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2rem;
      background-color: var(--body-background);
      border-radius: 1.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--text-color-grey);
    }

    figure {
      border-radius: 1.2rem;
      background-color: var(--body-background);

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-footer {
      display: flex;
      flex-direction: row-reverse;
      padding: 2.4rem 4rem;
      border-top: 2px solid var(--gray);

      &__button {
      }
    }
  }
}
