<section class="el-create-link el-h-100">
  <div class="el-create-link__phone-container">
    <figure class="el-create-link__phone-img">
      <img src="assets/images/illustration-phone-mockup.svg" alt="illustration phone mockup">

      <div class="el-create-link__phone-links-container">
        <!--TODO: Add background color       -->
        <!-- <div class="el-create-link__phone-links">Github</div>

        <div class="el-create-link__phone-links">Github</div>

        <div class="el-create-link__phone-links">Github</div>-->
      </div>
    </figure>
  </div>

  <div class="el-create-link__customize">
    <div class="el-create-link__main-links el-h-100">
      <div class="el-create-link__customize-content">
        <h2 class="el-create-link__customize-content-heading">Customize your Links</h2>

        <label class="el-create-link__customize-content-info">Add/edit/remove links below and then share all your
          profiles
          with the world!</label>

        <button class="el-button-sec el-create-link__customize-new-link" (click)="addLink()">+ Add new link</button>
      </div>

      @if (links.length > 0) {
        <div class="el-create-link__create-links" cdkDropList (cdkDropListDropped)="drop($event)">
          @for (link of links; track link; let index = $index) {
            <div class="el-create-link__create-links-link" cdkDrag>
              <div class="el-create-link__create-links-link__header">
                <label><span class="el-link-icon-drag-and-drop"></span>Link #{{ index + 1 }}</label>
                <button class="el-fw-400" (click)="removeLink(index)">Remove</button>
              </div>

              <div class="el-create-link__create-links-link__body">
                <div class="el-flex el-flex-col el-create-link__create-links-link__body-link-container">
                  <label>Platform</label>
                  <el-drop-down
                    [options]="linkOptions"
                    [(ngModel)]="selected"
                    (ngModelChange)="dropDownChange(index)">
                  </el-drop-down>
                </div>

                <div class="el-flex el-flex-col el-create-link__create-links-link__body-link-container">
                  <label>Link</label>
                  <div class="el-create-link__input-link-container">
                    <input type="text" class="el-input" (input)="updateLinks(inputLink,index)" #inputLink>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="el-h-100 el-create-link__empty-link">
          <img src="assets/images/illustration-empty.svg" alt="create-link-empty" style="height: 100%">
        </div>
      }

    </div>

    <div class="el-create-link__create-links-footer">
      <button class="el-button-sec el-create-link__create-links-footer__button">Save</button>
    </div>
  </div>
</section>
