<main class="el-login-container el-h-100 el-flex el-flex-align-items-center el-flex-justify-content-center">
  <section class="el-login__form-container el-flex el-flex-col el-flex-align-items-center">
    <figure>
      <img src="assets/images/logo-devlinks-large.svg" alt="logo">
    </figure>

    <div class="el-login__form el-flex el-flex-col el-flex-gap-9">
      <div class="el-flex el-flex-col el-flex-gap-1">
        <h1 class="el-flex el-title-h1">Login</h1>
        <p class="el-login__form-details">Add your details below to get back into the app</p>
      </div>

      <div class="el-login__body el-flex el-flex-col el-flex-gap-5">
        <div class="el-flex el-flex-col el-flex-gap-0">
          <label for="email">Email Address</label>
          <input type="text" id="email" class="el-input">
        </div>

        <div class="el-flex el-flex-col el-flex-gap-0">
          <label class="" for="password">Password</label>
          <input type="text" id="password" class="el-input">
        </div>

        <button class="el-button">Login</button>

        <p class="el_login_text-create-account el-text-center">Don’t have an account?
          <span class="el-fw-700 el-cursor-pointer" routerLink="../register">Create account</span>
        </p>
      </div>
    </div>
  </section>
</main>
