<section class="el-profile-container el-h-100">
  <el-links-phone class="el-profile-container__phone-component"></el-links-phone>

  <div class="el-profile-container__details el-h-100 el-flex el-flex-col">
    <div class="el-flex el-flex-col el-flex-gap-1">
      <h2 class="el-title-h1">Profile Details</h2>
      <label class="el-profile-container__title-details">
        Add your details to create a personal touch to your
        profile.
      </label>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div
        class="el-profile-container__profile-picture el-flex el-flex-justify-content-sb el-flex-align-items-center">
        <div class="el-fz-m">Profile Picture</div>

        <div class="el-flex el-flex-col el-profile-container__image-input el-flex-align-items-center el-flex-gap-1"
             (click)="uploadImage()" #containerImageInput>
          <span class="el-link-icon-upload-image el-profile-container__icon-upload"></span>
          @if (!isImageUpload) {
            <label>+ Upload Image</label>
          } @else {
            <label>Change Image</label>
          }
          <input type="file" accept="image/png, image/jpeg" hidden #imageInput (change)="loadImage()">
        </div>

        <div class="el-fz-m">Image</div>
      </div>

      <div class="el-profile-container__profile-details el-flex el-flex-col el-flex-gap-2">
        <div class="el-flex el-flex-align-items-center el-flex-justify-content-sb">
          <label for="first_name" class="el-fz-m">First Name*</label>
          <input
            type="text"
            id="first_name"
            name="name"
            class="el-profile-container__input-form el-input"
            formControlName="firstName"
          >
        </div>

        <div class="el-flex el-flex-align-items-center el-flex-justify-content-sb">
          <label for="last_name" class="el-fz-m">Last Name*</label>
          <input type="text"
                 id="last_name"
                 class="el-profile-container__input-form el-input"
                 formControlName="lastName">
        </div>

        <div class="el-flex el-flex-align-items-center el-flex-justify-content-sb">
          <label for="email" class="el-fz-m">Email</label>
          <input type="text"
                 id="email"
                 formControlName="email"
                 class="el-profile-container__input-form el-input"
          >
        </div>
      </div>

      <div class="el-profile-container__submit el-flex el-flex-row-reverse">
        <button class="el-button" type="submit" [disabled]="profileForm.invalid">Save</button>
      </div>
    </form>
  </div>
</section>
