<main class="el-register-container el-h-100 el-flex el-flex-align-items-center el-flex-justify-content-center">
  <section class="el-register__form-container el-flex el-flex-col el-flex-align-items-center">
    <figure>
      <img src="assets/images/logo-devlinks-large.svg" alt="logo">
    </figure>

    <div class="el-register__form el-flex el-flex-col el-flex-gap-9">
      <div class="el-flex el-flex-col el-flex-gap-1">
        <h1 class="el-flex el-title-h1">Create Account</h1>
        <p class="el-register__form-details">Let’s get you started sharing your links!</p>
      </div>

      <div class="el-register__body el-flex el-flex-col el-flex-gap-5">
        <div class="el-flex el-flex-col el-flex-gap-0">
          <label for="email">Email Address</label>
          <input type="text" id="email" class="el-input">
        </div>

        <div class="el-flex el-flex-col el-flex-gap-0">
          <label for="password">Create Password</label>
          <input type="text" id="password" class="el-input">
        </div>

        <div class="el-flex el-flex-col el-flex-gap-0">
          <label for="r-password">Confirm Password</label>
          <input type="text" id="r-password" class="el-input">
        </div>

        <button class="el-button">Create New Account</button>

        <p class="el_register_text-create-account el-text-center">Already have an account?
          <a class="el-fw-700 el-text-decoration" routerLink="../login">Login</a>
        </p>
      </div>
    </div>
  </section>
</main>
