.el-register-container {
  .el-register__form-container {
    gap: 5.1rem;
    width: 100%;
    max-width: 47.6rem;
  }

  .el-register__form {
    background: var(--white);
    max-width: 47.6rem;
    padding: 4rem;
    width: 100%;
  }

  .el-register__form-details {
    font-size: 1.6rem;
    color: var(--text-color-grey);
  }

  .el-register__body {
    label {
      font-size: 1.2rem;
    }
  }

  .el_register_text-create-account {
    font-size: 1.6rem;
    color: var(--text-color-grey);

    span {
      color: var(--text-color-purple);
    }
  }
}
