<div class="el-create-link__phone-container">
  <figure class="el-create-link__phone-img">
    <img src="assets/images/illustration-phone-mockup.svg" alt="illustration phone mockup">
    <div class="el-create-link__profile-details">
      <label class="el-create-link__profile-label">
        <span>{{ profileDetail().firstName | titlecase }} </span>
        <span>{{ profileDetail().lastName | titlecase }}</span>
      </label>
      <label></label>
    </div>
    <div class="el-create-link__phone-links-container">
      @for (phoneLink of phoneLinks | slice:0:5; track phoneLink) {
        <div class="el-create-link__phone-links el-fw-400"
             [style.background-color]="phoneLink.background">
          <div class="el-flex el-flex-gap-1 el-flex-al-center">
            <span class="{{phoneLink.icon}} el-fz-m"></span>
            <label>{{ phoneLink.text }}</label>
          </div>
          <span class="el-link-icon-arrow-right"></span>
        </div>
      }
    </div>
  </figure>
</div>
