/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import "./assets/styles/style";

:root {
  --body-font: 'Instrument Sans', sans-serif;
  --normal-font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--normal-font-size);
}

body {
  font-family: var(--body-font);
  background: var(--body-background);
  padding: 2.4rem;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--first-color-light);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--gray);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--first-color-light);
  }

  ::-webkit-scrollbar-track:horizontal {
    background-color: var(--first-color-light);
  }
}
