/*BUTTONS*/
.el-button {
  background: var(--first-color);
  padding: 1.1rem 2.7rem;
  color: var(--white);
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background: var(--first-color-light);
  }

  &:disabled{
    opacity: 0.25;
  }
}

.el-button-sec {
  background: none;
  padding: 1.1rem 2.7rem;
  color: var(--first-color);
  font-weight: 600;
  border-radius: 0.8rem;
  border: 1px solid var(--first-color);
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background: var(--first-color-alt);
  }
}

/*INPUT*/
.el-input {
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--gray);

  &:focus-visible {
    outline: 1px solid var(--input-focus-border);
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }
}

/*CONTAINER*/
.el-container {
  max-width: 139.2rem;
  margin-left: auto;
  margin-right: auto;
}

.el-container__header {
  padding: 2.4rem;
  border-radius: 1.2rem;
  background: var(--white);
  margin-bottom: 2.4rem;
}

/*TABS*/
.el-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  cursor: pointer;
}

.el-nav__logo {

}

.el-nav__menu {

}

.el-nav__link {
  color: var(--text-color-grey);
  padding: 1.1rem 2.7rem;
  font-weight: 600;
  text-decoration: none;

  &--active {
    border-radius: 8px;
    background: var(--first-color-alt);
    color: var(--first-color);
  }

  &:hover {
    color: var(--first-color);
  }
}

/*FLEX*/
.el-flex {
  display: flex;

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-col {
    flex-direction: column;
  }

  &-justify-content-center {
    justify-content: space-between;
  }

  &-align-items-center {
    align-items: center;
  }
}

.el-flex-gap-1 {
  gap: 0.8rem;
}

.el-flex-gap-2 {
  gap: 1.2rem;
}

.el-flex-al-center {
  align-items: center;
}

/*FONT*/
.el-fw-300 {
  font-weight: 300;
}

.el-fw-400 {
  font-weight: 400;
}

.el-fw-700 {
  font-weight: 700;
}

.el-w-100 {
  width: 100%;
}

.el-h-100 {
  height: 100%;
}

.el-h-90 {
  height: 90%;
}

.el-title-h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.el-fz-s {
  font-size: 1.2rem;
}

.el-fz-m {
  font-size: 1.6rem;
}
