<section class="el-preview-link el-flex el-flex-align-items-center el-flex-justify-content-center">
  <div class="el-preview-link__card el-flex el-flex-align-items-center el-flex-col">
    <div class="el-flex el-flex-col el-flex-align-items-center el-flex-gap-1">
      <figure class="el-preview-link__profile-pic">
        <img src="https://wallpapers.com/images/hd/cool-profile-picture-awled9dwo4qq2yv2.jpg"
             alt="profile pic" class="el-w-100 el-h-100">
      </figure>

      <div class="el-flex el-flex-col el-text-center el-preview-link__profile-details el-flex-gap-1">
        <label class="el-fw-700">Jhonatan Soto</label>
        <label class="el-fz-m">aa.com</label>
      </div>
    </div>

<!--    TODO: INSERT LINKS-->
<!--    <div>-->
<!--      links-->
<!--    </div>-->
  </div>
</section>
